<h2 mat-dialog-title>Proyecto <i>{{ projectDetail.proyecto }}</i></h2>
<mat-dialog-content class="mat-typography">
  <mat-divider></mat-divider>
  <div class="item">
    <h3>Descripción:</h3>
    <p>{{ projectDetail.description }}</p>
  </div>

  <mat-divider></mat-divider>
  <div class="item">
    <h3>Perfiles solicitados:</h3>
    <app-perfil [proyectoId]="projectDetail.id!"></app-perfil>
  </div>

  <mat-divider></mat-divider>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Aceptar</button>
</mat-dialog-actions>
