
<div class="container text-center">

  <div class="row">
    <div class="col-sm-12 col-md-6">
      <h3 i18n>Inicio de sesión</h3>
      <mat-icon>groups</mat-icon>
      <form [formGroup]="formLogin"
        (ngSubmit)="!formLogin.invalid && login()">

        <div class="row">
          <mat-form-field appearance="outline">
            <mat-label i18n>Correo</mat-label>
            <input matInput required type="text"
            id="email" formControlName="email">
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field appearance="outline">
            <mat-label i18n>Contraseña</mat-label>
            <input matInput required type="password"
            id="password" formControlName="password">
          </mat-form-field>
        </div>

        <mat-form-field>
          <mat-label i18n>Rol</mat-label>
          <mat-select formControlName="role" id="role">
            <mat-option value="Candidato"i18n >Candidato</mat-option>
            <mat-option value="Empresa" i18n>Empresa</mat-option>
          </mat-select>
        </mat-form-field>

        <div class="row">
          <mat-checkbox color="primary"i18n >Recordar contraseña</mat-checkbox>
        </div>

        <div class="mt-3">
          <button mat-raised-button color="primary" type="submit" i18n>Ingresar</button>
        </div>
        <!-- <div class="mt-3">
          <button mat-raised-button color="secondary" [routerLink]="['/candidatos/register']">Crear cuenta</button>
        </div> -->
        <div class="mt-3">
          <button mat-raised-button color="secondary" [matMenuTriggerFor]="menu" i18n>Crear cuenta</button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['/candidatos/register']" i18n>Candidato</button>
            <button mat-menu-item [routerLink]="['/empresas/register']" i18n>Empresa</button>
          </mat-menu>
        </div>
      </form>
    </div>

    <div class="col-md-6 d-none d-md-block">
      <img *ngIf="!formLogin.get('role')!.value" class="iconoPerfil" src="../../../../assets/img/IconAbcJobs.png" alt="Icono de perfil">
      <img *ngIf="formLogin.get('role')!.value === 'Candidato'" class="iconoPerfil" src="../../../../assets/img/IconCandidatos.jpg" alt="Icono de perfil">
      <img *ngIf="formLogin.get('role')!.value === 'Empresa'" class="iconoPerfil" src="../../../../assets/img/IconEmpresas.jpg" alt="Icono de perfil">
    </div>
  </div>
</div>
