<div
  class="dash-container"
  [class.dash-is-mobile]="mobileQuery.matches"
>
  <mat-toolbar color="primary">
    <button
      mat-icon-button
      class="dash-icon"
      aria-label="dash icon-button with menu icon"
      (click)="snav.toggle()"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <img src="../../../../assets/img/LogoABC.png" alt="Logo ABC Jobs" />
    <span class="dash-spacer"></span>
    <button
      mat-icon-button
      class="dash-icon favorite-icon"
      aria-label="dash icon-button with heart icon"
    >
      <mat-icon>settings</mat-icon>
    </button>
    <button
      mat-icon-button
      class="dash-icon"
      aria-label="dash icon-button with share icon"
    >
      <mat-icon>account_circle</mat-icon>
    </button>
    <button
      mat-icon-button
      class="dash-icon"
      aria-label="dash icon-button with share icon"
    >
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container
    class="dash-sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
    >
      <mat-nav-list>
        <h4 mat-list-item>Mis datos</h4>
        <!-- INFORMACIÓN PERSONAL -->
        <a mat-list-item [routerLink]=""><mat-icon>person</mat-icon>Información personal</a>
        <!-- INFORMACIÓN ACADÉMICA -->
        <a mat-list-item [routerLink]="['info-academica']"><mat-icon>school</mat-icon>Información académica</a>
        <!-- INFORMACIÓN TÉCNICA -->
        <a mat-list-item [routerLink]="['info-tecnica']"><mat-icon>build</mat-icon>Información técnica</a>
        <!-- INFORMACIÓN LABORAL -->
        <a mat-list-item [routerLink]=""><mat-icon>work</mat-icon>Información laboral</a>
        <h4 mat-list-item>Entrevistas</h4>
        <!-- ENTREVISTAS PENDIENTES -->
        <a mat-list-item [routerLink]=""><mat-icon>assignment_late</mat-icon>Entrevistas pendientes</a>
        <!-- ENTREVISTAS REALIZADAS -->
        <a mat-list-item [routerLink]=""><mat-icon>assignment_turned_in</mat-icon>Entrevistas realizadas</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
