<div class="container text-center col-md-6">
  <h2 id="titulo"><mat-icon>splitscreen</mat-icon>Agregar Vertical</h2>

  <form
    [formGroup]="formVerticales"
    (ngSubmit)="!formVerticales.invalid && registrarVertical()"
  >

    <mat-form-field>
      <mat-label>Vertical</mat-label>
      <mat-select formControlName="vertical" id="vertical">
        <mat-option *ngFor="let vertical of listVerticales" [value]="vertical">
          {{vertical}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Validacion -->
    <div class="alert alert-danger alert-dismissible fade show"
        *ngIf="
          vertical?.hasError('required') && vertical?.touched"
          >La vertical es requerida</div>

    <div class="row">
      <div class="col-12">
        <mat-form-field appearance="outline">
          <mat-label name="description">Descripción</mat-label>
          <input matInput type="text"
          id="description" formControlName="description">
        </mat-form-field>
      </div>
    </div>

    <!-- Validacion -->
    <div class="alert alert-danger alert-dismissible fade show col-12"
        *ngIf="
          description?.hasError('required') && description?.touched"
          >La descripción es requerida</div>

    <div class="botones">
      <div class="button">
        <a mat-raised-button color="secondary" (click)="cancelarCreacion()" routerLink="../">Cancelar</a>
      </div>
      <div class="button">
        <button mat-raised-button color="primary"
        type="submit"
        [disabled]="formVerticales.invalid"
        >Guardar</button>
      </div>
    </div>
  </form>
</div>
