<div class="container text-center">
  <h2 id="titulo">Agregar información académica</h2>

  <form
    [formGroup]="formInfoAcademica"
    (ngSubmit)="!formInfoAcademica.invalid && registrarInfoAcademica()"
  >
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <mat-form-field appearance="outline">
          <mat-label name="title">Título obtenido</mat-label>
          <input matInput type="text"
          id="title" formControlName="title">
        </mat-form-field>
      </div>

      <div class="col-sm-12 col-md-6">
        <mat-form-field appearance="outline">
          <mat-label name="institution">Institución</mat-label>
          <input matInput type="text"
          id="institution" formControlName="institution">
        </mat-form-field>
      </div>
    </div>

    <!-- Validacion -->
    <div class="alert alert-danger alert-dismissible fade show"
        *ngIf="
          title?.hasError('required') && title?.touched ||
          institution?.hasError('required') && institution?.touched"
          >El título obtenido y la institución son requeridos</div>

    <div class="row">
      <div class="col-sm-12 col-md-6">
        <mat-form-field>
          <mat-label name="beginDate">Fecha de inicio</mat-label>
          <input matInput [matDatepicker]="beginDate" id="beginDate"
            type="datetime" formControlName="beginDate">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="beginDate"
          ></mat-datepicker-toggle>
          <mat-datepicker #beginDate></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="col-sm-12 col-md-6">
        <mat-form-field>
          <mat-label name="endDate">Fecha de finalización</mat-label>
          <input matInput [matDatepicker]="endDate" id="endDate"
            type="datetime" formControlName="endDate">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="endDate"
          ></mat-datepicker-toggle>
          <mat-datepicker #endDate></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-6">
        <mat-form-field appearance="outline">
          <mat-label name="studyType">Tipo de estudio</mat-label>
          <input matInput type="text"
          id="studyType" formControlName="studyType">
        </mat-form-field>
      </div>
    </div>

    <!-- Validacion -->
    <div class="alert alert-danger alert-dismissible fade show col-sm-6"
        *ngIf="
          studyType?.hasError('required') && studyType?.touched"
          >El tipo de estudio es requerido</div>

    <div class="botones">
      <div class="button">
        <button mat-raised-button color="secondary" (click)="cancelarCreacion()">Cancelar</button>
      </div>
      <div class="button">
        <button mat-raised-button color="primary"
        type="submit"
        [disabled]="formInfoAcademica.invalid"
        >Guardar</button>
      </div>
    </div>
  </form>
</div>
{{ formInfoAcademica.value | json }}
