
<div class="container text-center">

  <h3 i18n>Crear nueva cuenta individual</h3>
  <mat-icon>groups</mat-icon>

  <form [formGroup]="formCandidato"
    (ngSubmit)="!formCandidato.invalid && registrarCandidato()">

    <div class="row">
      <div class="col-sm-12 col-md-6">
        <mat-form-field appearance="outline">
          <mat-label for="names" i18n>Nombres</mat-label>
          <input matInput type="text"
            id="names" formControlName="names">
        </mat-form-field>
      </div>

      <div class="col-sm-12 col-md-6">
        <mat-form-field appearance="outline">
          <mat-label i18n>Apellidos</mat-label>
          <input matInput type="text"
            id="lastName" formControlName="lastName">
        </mat-form-field>
      </div>
    </div>

    <!-- Validacion -->
    <div class="alert alert-danger alert-dismissible fade show"
        *ngIf="
          formCandidato.get('names')!.hasError('required') &&
          formCandidato.get('names')!.touched ||
          formCandidato.get('lastName')!.hasError('required') &&
          formCandidato.get('lastName')!.touched"
          i18n >Su nombre y apellido son requeridos</div>

    <div class="row">
      <div class="col-sm-12">
        <mat-form-field appearance="outline">
          <mat-label i18n>Correo</mat-label>
          <input matInput type="email"
            id="email" formControlName="email">
        </mat-form-field>
      </div>
    </div>

    <!-- Validacion -->
    <div class="alert alert-danger alert-dismissible fade show"
        *ngIf="
          formCandidato.get('email')!.hasError('required') &&
          formCandidato.get('email')!.touched"
          i18n >Su correo electrónico es requerido</div>

    <div class="row">
      <div class="col-sm-12 col-md-6">
        <mat-form-field appearance="outline">
          <mat-label i18n>Contraseña</mat-label>
          <input matInput type="password"
            id="password" formControlName="password">
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-6">
        <mat-form-field appearance="outline">
          <mat-label i18n>Confirmar contraseña</mat-label>
          <input matInput type="password"
            id="passwordConfirm" formControlName="passwordConfirm">
        </mat-form-field>
      </div>
    </div>

    <!-- Validacion -->
    <div class="alert alert-danger alert-dismissible fade show"
        *ngIf="
          formCandidato.get('password')!.hasError('required') &&
          formCandidato.get('password')!.touched"
          i18n >Ingrese su contraseña</div>

    <!-- Validacion -->
    <div class="alert alert-danger alert-dismissible fade show"
        *ngIf="
          formCandidato.get('password')!.hasError('minlength')"
          i18n>Contraseña demasiado corta</div>

        <!-- Validacion -->
    <div class="alert alert-danger alert-dismissible fade show"
        *ngIf="
          formCandidato.get('passwordConfirm')?.value !== formCandidato.get('password')?.value &&
          formCandidato.get('passwordConfirm')!.touched"
          i18n>Las contraseñas no coinciden</div>

    <div class="mt-3">
      <button mat-raised-button color="primary"
        type="submit"
        [disabled]="formCandidato.invalid"
        i18n>Crear cuenta</button>
    </div>
    <!-- <div class="mt-3">
      <button mat-raised-button color="secondary"
      i18n>Ingresar</button>
    </div> -->
  </form>
</div>
