<div class="container text-center">
  <h2 id="titulo"><mat-icon>event</mat-icon>Entrevistas</h2>
  <div class="botones">
    <button mat-button (click)="accordion.openAll()">Expand All</button>
    <button mat-button (click)="accordion.closeAll()">Collapse All</button>
  </div>
  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel *ngFor="let project of projects">
      <mat-expansion-panel-header>
        <mat-panel-title> {{ project.proyecto }} </mat-panel-title>
        <mat-panel-description>
          {{ project.description }}
        </mat-panel-description>
      </mat-expansion-panel-header>

    </mat-expansion-panel>
  </mat-accordion>
</div>
