.container{
  margin-top: 5%;
  max-width: 90%;
}
#titulo{
  text-align: left;
  margin-bottom: 2rem;
  background-color: #ffffff;
}
mat-form-field{
  width: 100%;
}
.botones{
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 3rem;
}
.row{
  margin-bottom: 0.5rem;
}

.card-container{
  border: #9b9b9b 1px solid;
  border-radius: 15px;
  padding: 0.5rem;
  overflow-y: auto;
  max-height: 300px;
}
.controles {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;
}
.controles h2{
  margin-bottom: 0;
}
.card {
  margin-bottom: 16px;
  text-align: left;
  padding: 0.5rem;
  height: 75px;
  font-size: small;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #dcdcdc;

}
.card p{
  margin-bottom: 0;
}


/* .card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto 0;
}
.icon-tech{

}

.card-info {
  display: flex;
  flex-direction: column;
}

.card-title {
  display: block;
  background-color: red;
  margin-bottom: 0;
  text-align: left;
}
h3.card-title {
  margin: 0 !important;
}


.card-content {
  color: #666;
}

.icon-check{

} */

