<div class="container text-center col-12">
  <h2 id="titulo"><mat-icon>person</mat-icon> Agregar perfil</h2>

  <form
    [formGroup]="formPerfiles"
    (ngSubmit)="!formPerfiles.invalid && registrarPerfil()"
  >

    <div class="row">
      <div class="col-12 col-md-4">
        <mat-form-field appearance="outline">
          <mat-label name="name">Nombre del perfil</mat-label>
          <input matInput type="text"
          id="name" formControlName="name">
        </mat-form-field>
      </div>

      <div class="col-12 col-md-4">
        <mat-form-field appearance="outline">
          <mat-label name="role">Rol solicitado</mat-label>
          <input matInput type="text"
          id="role" formControlName="role">
        </mat-form-field>
      </div>

      <div class="col-12 col-md-4">
        <mat-form-field appearance="outline">
          <mat-label name="years">Años de experiencia</mat-label>
          <input matInput type="text"
          id="years" formControlName="years">
        </mat-form-field>
      </div>
    </div>

    <!-- Validacion -->
    <!-- <div class="alert alert-danger alert-dismissible fade show"
        *ngIf="
          proyecto?.hasError('required') && proyecto?.touched"
          >El nombre del proyecto es requerido</div> -->

    <div class="row">
      <div class="col-12 col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>País</mat-label>
          <mat-select formControlName="country" id="country" (selectionChange)="actualizarCiudades()">
            <mat-option *ngFor="let reg of countryAndCity" [value]="reg.pais">
              {{reg.pais}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-12 col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Ciudad</mat-label>
          <mat-select formControlName="city" id="city">
            <mat-option *ngFor="let cityOfCountry of citiesOfCountry" [value]="cityOfCountry">
              {{cityOfCountry}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <!-- Validacion -->
    <!-- <div class="alert alert-danger alert-dismissible fade show col-12"
        *ngIf="
          description?.hasError('required') && description?.touched"
          >La descripción del proyecto es requerida</div> -->

    <mat-divider></mat-divider><br>
    <div class="row competencias">
      <section class="competencia col-12 col-lg-4">
        <div class="controles">
          <h2>Conocimientos:</h2>
          <a mat-mini-fab color="basic" (click)="addCompetencia('Conocimiento')"><mat-icon>add</mat-icon></a>
        </div>
        <div class="card-container">
          <mat-card *ngFor="let competencia of conocimientosTemp" class="card">
            <p><b>{{ competencia.name }}</b>: {{ competencia.description }}</p>
          </mat-card>
        </div>
      </section>

      <section class="competencia col-12 col-lg-4">
        <div class="controles">
          <h2>Habilidades:</h2>
          <a mat-mini-fab color="basic" (click)="addCompetencia('Habilidad')"><mat-icon>add</mat-icon></a>
        </div>
        <div class="card-container">
          <mat-card *ngFor="let competencia of habilidadesTemp" class="card">
            <p><b>{{ competencia.name }}</b>: {{ competencia.description }}</p>
          </mat-card>
        </div>
      </section>

      <section class="competencia col-12 col-lg-4">
        <div class="controles">
          <h2>Idiomas:</h2>
          <a mat-mini-fab color="basic" (click)="addCompetencia('Idioma')"><mat-icon>add</mat-icon></a>
        </div>
        <div class="card-container">
          <mat-card *ngFor="let competencia of idiomasTemp" class="card">
            <p><b>{{ competencia.name }}</b>: {{ competencia.description }}</p>
          </mat-card>
        </div>
      </section>
    </div>

    <div class="botones">
      <div class="button">
        <a mat-raised-button color="secondary" (click)="cancelarCreacion()" routerLink="../">Cancelar</a>
      </div>
      <div class="button">
        <button mat-raised-button color="primary"
        type="submit"
        [disabled]="formPerfiles.invalid"
        >Guardar</button>
      </div>
    </div>
  </form>
</div>
